@using InsuApp1.Data.Enum;
@model InsuApp1.Models.UserDetailViewModel

@{
    ViewData["Title"] = "Client Insurance Creation";
}

<link rel="stylesheet" href="~/css/scrollsheet.css" runat="server" type="text/css" asp-append-version="true" />

<div id="modal-placeholder"></div>

<div class="modal fade" id="addEmployee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.UserCategory == UserCategory.Pojištěněc)
                {
                    <h4 class="modal-title text-secondary" id="addEmployeeLabel">Pojištění pro <mark class="badge1 fs-5">@Html.DisplayFor(model => model.UserDetailView.FirstName) @Html.DisplayFor(model => model.UserDetailView.LastName)</mark></h4>
                }
                else
                {
                    <h4 class="modal-title text-secondary" id="addEmployeeLabel">Pojištění pro <mark class="badge2 fs-5">@Html.DisplayFor(model => model.UserDetailView.FirstName) @Html.DisplayFor(model => model.UserDetailView.LastName)</mark></h4>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-action="InsuranceFormCreate">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserDetailViewId" value="@Model.UserDetailViewId" />
                    <div class="form-group">
                        <label asp-for="MainInsuranceName" class="control-label fw-bold text-secondary">Název pojištění<i style="color:#fe6b60">*</i></label>
                        @Html.DropDownListFor(model => model.MainInsuranceName, Model.MainInsuList, "--Vybrat--", new { @class = "form-select" })
                        <span asp-validation-for="MainInsuranceName" class="text-danger"></span>

                        <!--@Html.LabelFor(model => model.MainInsuranceName,"Insurance Name", new { @class = "control-label col-md-2" })-->
                        <!--@Html.DropDownListFor(model => model.MainInsuranceName, Model.MainInsuList, "<Select Company>", new { @class = "form-control" })-->
                        <!--<label asp-for="InsuranceName" class="control-label fw-bold text-secondary">Insurance Name</label>
                        <select asp-for="InsuranceName" class="form-select" aria-label="Default select example" asp-items="ViewBag.MainInsurance">
                            <option selected disabled>--Select--</option>
                        </select>
                        <span asp-validation-for="InsuranceName" class="text-danger"></span>-->
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label asp-for="InsuranceValue" class="control-label fw-bold text-secondary">Výše pojištění<i style="color:#fe6b60">*</i></label>
                            <input asp-for="InsuranceValue" class="form-control" />
                            <span asp-validation-for="InsuranceValue" class="text-danger"></span>
                        </div>
                        <div class="col-md-auto">
                            <label asp-for="InsuranceCurrency" class="control-label fw-bold text-secondary">Měna<i style="color:#fe6b60">*</i></label>
                                <select asp-for="InsuranceCurrency" class="form-control" asp-items="@Html.GetEnumSelectList<InsuranceCurrency>()">
                                    <option selected="selected" value="">--Vybrat--</option>
                                </select>
                            <span asp-validation-for="InsuranceCurrency" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="ObjectOfInsurane" class="control-label fw-bold text-secondary">Předmět pojištění<i style="color:#fe6b60">*</i></label>
                        <input asp-for="ObjectOfInsurane" class="form-control" />
                        <span asp-validation-for="ObjectOfInsurane" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="InsuranceValidFrom" class="control-label fw-bold text-secondary">Platnost od</label>
                        <input asp-for="InsuranceValidFrom" class="form-control" />
                        <span asp-validation-for="InsuranceValidFrom" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="InsuranceValidTo" class="control-label fw-bold text-secondary">Platnost do</label>
                        <input asp-for="InsuranceValidTo" class="form-control" />
                        <span asp-validation-for="InsuranceValidTo" class="text-danger"></span>
                    </div>
                </form>
            </div>
            @if (User.IsInRole("admin"))
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                    <button type="button" class="btn btn-secondary" data-save="modal">Uložit</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
