@using InsuApp1.Data.Enum;
@model InsuApp1.Models.UserDetailViewModelEvent

@{
    ViewData["Title"] = "Client Insured Event Creation";
}

<link rel="stylesheet" href="~/css/scrollsheet.css" runat="server" type="text/css" asp-append-version="true" />

<div id="modal-placeholder"></div>

<div class="modal fade" id="addEmployee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.UserCategory == UserCategory.Pojištěněc)
                {
                    <h4 class="modal-title text-secondary" id="addEmployeeLabel">New Insured Event for <mark class="badge1 fs-5">@Html.DisplayFor(model => model.UserDetailEventView.FirstName) @Html.DisplayFor(model => model.UserDetailEventView.LastName)</mark></h4>
                }
                else
                {
                    <h4 class="modal-title text-secondary" id="addEmployeeLabel">New Insured Event for <mark class="badge2 fs-5">@Html.DisplayFor(model => model.UserDetailEventView.FirstName) @Html.DisplayFor(model => model.UserDetailEventView.LastName)</mark></h4>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-action="InsuredEventFormCreate">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserDetailEventId" value="@Model.UserDetailEventId" />
                    <div class="form-group">
                        <label asp-for="MainInsuredEventName" class="control-label fw-bold text-secondary">Insured Event Name</label>
                        @Html.DropDownListFor(model => model.MainInsuredEventName, Model.MainInsuEventList, "--Select Insurance--", new { @class = "form-select" })
                        <span asp-validation-for="MainInsuredEventName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="InsuredEventValue" class="control-label fw-bold text-secondary">Event Value</label>
                        <input asp-for="InsuredEventValue" class="form-control" />
                        <span asp-validation-for="InsuredEventValue" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="ObjectOfInsuredEvent" class="control-label fw-bold text-secondary">Object of Insured Event</label>
                        <input asp-for="ObjectOfInsuredEvent" class="form-control" />
                        <span asp-validation-for="ObjectOfInsuredEvent" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="InsuredEventDate" class="control-label fw-bold text-secondary">Event Date</label>
                        <input asp-for="InsuredEventDate" class="form-control" />
                        <span asp-validation-for="InsuredEventDate" class="text-danger"></span>
                    </div>
                </form>
            </div>
            @if (User.IsInRole("admin"))
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" data-save="modal">Save</button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
